.app {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0 0 0;
    .menu {
        width: 300px;
        padding: 0 30px 0 0;
        fieldset {
            border: 2px solid darkgoldenrod;
            margin: 0 0 30px 0;
            padding: 10px;
            position: relative;
            legend {
                text-transform: uppercase;
                font-size: 1.5em;
                color: darkgoldenrod;
            }
            .labels {
                display: flex;
                flex-direction: column;
                label {
                    user-select: none;
                    cursor: pointer;
                    padding: 3px 0 3px 25px;
                    position: relative;
                    &:hover {
                        background-color: rgba(184, 135, 11, 0.258);
                    }
                    &.active {
                        &::before {
                            content: '\2713';
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
            input[type="text"] {
                width: 100%;
                display: block;
                outline: none;
                box-sizing: border-box;
                font-size: 1.2em;
                padding: 3px 25px 3px 5px;
            }
            span.clear {
                position: absolute;
                right: 15px;
                top: 17px;
                cursor: pointer;
                &::after {
                    content: '\2A09';
                    color: crimson;
                    font-size: 1em;
                }
            }
        }
    }



    .books-list {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .book {
            width: 250px;
            height: 400px;
            padding: 10px;
            background-color: #6494ed44;
            border-radius: 10px;
            h2 {
                margin: 0;
                text-align: center;
                height: 88px;
                overflow: hidden;
            }
            .img {
                display: flex;
                justify-content: center;
                img {
                    height: 150px;
                    width: auto;
                }
            }
            .author {
                padding: 11px 0 0 0;
                display: flex;
                justify-content: center;
                color: darkcyan;
                font-size: 1.1em;
            }
            .price {
                padding: 21px 0 0 0;
                color: orangered;
                font-size: 2em;
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
            .type {
                padding: 11px 0 0 0;
                display: flex;
                justify-content: center;
                color: gray;
            }
        }
    }
}

    